<!--copy rights start here-->
<div class="footer-copyright py-3 text-center">
	<link href='http://fonts.googleapis.com/css?family=Raleway:400,200,600,800,700,500,300,100,900' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Arimo:400,700,700italic' rel='stylesheet' type='text/css'>
	<div class="container-fluid">
		<div class="copy-rights-main">
			<div class="social-icons">
				<a href="#"><span class="in"> </span></a>
				<a href="#"><span class="you"> </span></a>
				<a href="#"><span class="be"> </span></a>
				<a href="#"><span class="twt"> </span></a>
				<a href="#"><span class="fb"> </span></a>
			</div>		
			<p>
				&copy;
				<span id="copyright"><script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script></span>
				Lokesh. All Rights Reserved | Design by  
				<a href="#" target="">Lokesh</a> 
			</p>			
		</div>
	</div>
</div>
<!--copy rights end here-->