<!--copy rights start here-->
<div class="footer-bottom">
	<div class="container">
		<div class="copy-rights-main">
			<ul class="ftr-icons">
				<li><a class="fa" href="#"> </a></li>
				<li><a class="tw" href="#"> </a></li>
				<li><a class="g" href="#"> </a></li>
			</ul>			
			 <p>
				&copy;
				<span id="copyright">
					<script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>
				</span>
				 Lokesh. All Rights Reserved | Design by  <a href="" target="_blank">Lokesh</a> 
			 </p>			
		</div>
	</div>
</div>
<!--copy rights end here-->