<div class="btn-group" id="status1" data-toggle="buttons">
    <label class="btn btn-default btn-off btn-lg active">
    <input type="radio" value="0" name="multifeatured_module[module_id][status1]">OFF-LAMP</label>
    <label class="btn btn-default btn-on btn-lg">
    <input type="radio" value="1" name="multifeatured_module[module_id][status1]" checked="checked">&nbsp;ON-LAMP&nbsp;</label>                                            
</div>